In [3]:
import pandas as pd

data = pd.read_json('Mini-project-2-data.json', lines=True)

In [16]:
import json

In [65]:
len(data)

200000

In [7]:
data = data[["authors","year"]]

In [18]:
json_string = data.iloc[0]['authors']

In [99]:
result = []
for index, row in data.iterrows():
#     if index > 0:
#         break;
#     else:
    for author_info in row["authors"]:
#         print(author_info['name'])
        if(len(author_info['ids'])>1):
            print(author_info)
        if(len(author_info['ids'])>0):
            result.append((author_info['ids'][0], author_info['name'], int(row['year']),1))

In [100]:
result[0]

(u'8701086', u'A T George', 2012, 1)

In [101]:
import numpy as np

In [102]:
df = pd.DataFrame(np.array(result), columns = ['id','author','year','count'])

In [105]:
df[['count']] = df[['count']].apply(pd.to_numeric)

In [133]:
df1 = df.groupby(['id','author','year'], as_index=False)[["count"]].sum()

In [134]:
df1 = df1.sort_values(by=['count'])
df1

             id                  author  year  count
0       1678182           Aaron Harwood  2005      1
472559  5544765            Yoshie Hongo  2015      1
472560  5544769          Peter Ladurner  2011      1
472561  5544772            Ania Korszun  2013      1
472562  5544772            Ania Korszun  2015      1
472563  5544780      Karen Carver-Moore  2013      1
472564  5544782           Donald F Hunt  2002      1
472565  5544782           Donald F Hunt  2004      1
472566  5544782           Donald F Hunt  2006      1
472567  5544782          Donald F. Hunt  2001      1
472568  5544787        Kenneth M Sicard  2006      1
472569  5544788  Mohammad Reza Sobhiyeh  2013      1
472570  5544797                 S B Fox  2006      1
472571  5544852           Camila Mendez  2006      1
472572  5544870         K M Mc Conville  1991      1
472573  5544878         Felipe L. Assis  2010      1
472574  5544912           Sarah Queller  2016      1
472575  5544928    Cristina Di Vittorio  2011      1
472558  5544763              Luigi Boni  2016      1
472557  5544752     Jennifer L Koetsier  2006      1
472556  5544752              J Koetsier  2010      1
472554  5544700            Yoshio Ikeda  2011      1
472535  5544508          Boon-Seng Wong  2014      1
472536  5544510         Monique Sothier  2013      1
472537  5544519         Casey E Hogrefe  2005      1
472538  5544531            Linghan Dong  2014      1
472539  5544533     Peter F Morgenstern  2016      1
472540  5544548          Sanjay Gambhir  2015      1
472541  5544551         Farideh Yousefi  2006      1
472542  5544556            Osman Hayran  2004      1
...         ...                     ...   ...    ...
44120   1738506                Yi Zhang  2014      6
4365    1684133                  Jie Li  2016      6
353442  4148672               Gang Wang  2016      6
311865  3695373                   Zhang  2016      6
141861  2258758               Ying Wang  2016      7
43671   1737850                Xiang Li  2014      7
36147   1727577                Yu Zhang  2015      7
384471  4496957                Fang Liu  2016      7
663704  8102544            Seik Weng Ng  2009      7
102803  1970312               Jian Wang  2016      7
38453   1730584               Wei Huang  2016      7
3735    1683211            John R Adler  2015      7
440653  5151236                 Li Yang  2015      7
39767   1732461                Qiang Li  2016      7
93897   1904411      Alexander Muacevic  2015      7
141898  2258972                  M Tech  2013      7
53055   1750274                 Jie Gao  2014      7
85478   1843598                 Jun Liu  2014      8
14297   1697912               Jing Wang  2014      9
54868   1752812              Ying Zhang  2015      9
194849  2660799          Daron Acemoglu  2011      9
47023   1742253                 Jing Li  2015      9
47024   1742253                 Jing Li  2016      9
193529  2650989     Prasad S Thenkabail  2015      9
141900  2258972                  M Tech  2015      9
223368  2879340            Marc A Rosen  2015     10
569567  6787003       Paul B. Tchounwou  2015     11
141899  2258972                  M Tech  2014     11
543076  6443508                   India  2013     13
193530  2650989     Prasad S Thenkabail  2016     21

[712245 rows x 4 columns]

In [120]:
df1[['id']]

KeyError: "['id'] not in index"

In [85]:
from sets import Set
author = Set()
for index, row in data.iterrows():
#     if index > 0:
#         break;
#     else:
    for author_info in row["authors"]:
#         print(author_info['name'])
        author.add(author_info['name'])

C:\Users\yinyum\AppData\Local\Continuum\anaconda3\envs\ana27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: the sets module is deprecated
  """Entry point for launching an IPython kernel.

In [111]:
df2 = df.groupby(['id','author'])[["count"]].sum()

In [112]:
df2.sort_values(by=['count'])

                                count
id      author
4437821 D Picchietti                1
5617363 Pierre Miossec              1
5617334 Ashley S Williams           1
5617332 H Grabowski                 1
5617328 Jerry A Colliver            1
5617312 Daniela Visentini           1
5617306 K M Giangiacomo             1
5617304 Omkar Upputuri              1
5617260 Warren S. Alexander         1
        W. S Alexander              1
5617258 M Peyrard                   1
5617255 Nrisingha Dey               1
5617254 Takahide Komori             1
5617253 M Polak                     1
5617245 Jeffrey L Leonard           1
5617242 Shannon M. Fuller           1
5617231 Claudia Paoletti            1
5617200 A Moore                     1
5617198 Rosalba Pérez-Villalva      1
5617194 Ján BURKUŠ                  1
5617189 Quentin Jones               1
5617170 Yao Deng                    1
5617130 Ellen T. Gelfand            1
5617121 E Ryan                      1
5617118 Gary Palmer                 1
        Gary A. Palmer              1
5617116 Sithiporn Agthong           1
5617107 Feizollah Niazi             1
5617096 Camille Lassale             1
5617065 Simon Guiraud               1
...                               ...
1684133 Jie Li                     25
3543702 Jun Chen                   25
8102544 Seik Weng Ng               25
3751236 Kai Wang                   26
1737486 Qian Zhang                 26
1685072 Tao Wang                   26
1678662 Yang Li                    26
1723002 Yan Li                     26
1748656 Na Li                      26
1734409 Feng Liu                   27
1718041 Ying Liu                   27
1727577 Yu Zhang                   27
1682866 Vladik Kreinovich          29
1714741 Xi Chen                    29
1777582 J Liu                      29
2258758 Ying Wang                  29
1700696 Yan Chen                   29
1738506 Yi Zhang                   30
3530888 Jr                         31
5093642 Andrei Shleifer            31
6443508 India                      32
2650989 Prasad S Thenkabail        32
1843598 Jun Liu                    33
2660799 Daron Acemoglu             35
1699746 Jie Liu                    35
2258972 M Tech                     38
4564363 Y Wang                     40
1752812 Ying Zhang                 41
3874221 Hong Kong                  43
1742253 Jing Li                    47

[588683 rows x 1 columns]

In [124]:
author_list = ["1777582","2258758","1700696","1738506","3530888","5093642","6443508","2650989","1843598","2660799","1699746","2258972","4564363","1752812","3874221","1742253"]

In [136]:
final_result = df1[df1['id'].isin(author_list)]

In [138]:
final_result.to_csv("authors.csv")

In [144]:
import pandas as pd
import numpy as np

In [157]:
df = pd.read_csv('authors.csv', header=None)

In [158]:
df.head()

         0        1     2  3
0  1699746  Jie Liu  2002  1
1  1699746  Jie Liu  2003  3
2  1699746  Jie Liu  2004  1
3  1699746  Jie Liu  2005  3
4  1699746  Jie Liu  2006  2

In [248]:
df.dtypes

0     int64
1    object
2     int64
3     int64
dtype: object

In [240]:
row_name = ["1752812", "4564363", "1777582", "2258758", "3530888", "2660799", "3874221", "5093642", "1742253", "1843598", "1699746", "1738506", "2258972", "1700696", "2650989", "6443508"]
column_name = ["name", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"]

In [242]:
buckets = [['0' for col in range(len(column_name))] for row in range(len(row_name))]
df1 = pd.DataFrame(buckets, columns=column_name, index=row_name)

In [244]:
column1= ["1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"]
df1[['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']] = df1[['1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']].apply(pd.to_numeric)
# df1[["name"]]=df1[['name']].apply(str)

In [251]:
for index, row in df.iterrows():
    df1.set_value(str(row[0]), "name", str(row[1]))
    df1.set_value(str(row[0]), str(row[2]), df1.get_value(str(row[0]),str(row[2]))+row[3])

C:\Users\yinyum\AppData\Local\Continuum\anaconda3\envs\ana27\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\yinyum\AppData\Local\Continuum\anaconda3\envs\ana27\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\yinyum\AppData\Local\Continuum\anaconda3\envs\ana27\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [252]:
df1

,name,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1752812,Ying Zhang,1,0,0,0,0,0,0,0,0,...,3,3,4,2,4,2,3,0,9,5
4564363,Y Wang,1,0,1,2,2,2,1,0,0,...,0,1,3,4,3,2,2,5,4,2
1777582,J Liu,0,1,0,0,0,0,1,2,0,...,1,4,2,1,2,4,1,1,1,1
2258758,Ying Wang,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,4,6,6,7
3530888,Jr,0,0,0,0,0,0,0,2,1,...,2,2,1,2,1,4,2,0,2,0
2660799,Daron Acemoglu,0,0,0,0,0,0,0,0,1,...,0,1,2,2,9,0,2,2,2,1
3874221,Hong Kong,0,0,0,0,0,0,0,0,2,...,6,1,4,2,4,3,0,1,1,3
5093642,Andrei Shleifer,0,0,0,0,0,0,0,0,2,...,1,2,0,2,4,1,3,3,0,0
1742253,Jing Li,0,0,0,0,0,0,0,0,0,...,1,1,1,4,2,3,5,4,9,9
1843598,Jun Liu,0,0,0,0,0,0,0,0,0,...,2,1,2,1,0,2,1,8,5,5
1699746,Jie Liu,0,0,0,0,0,0,0,0,0,...,3,0,1,1,1,2,5,4,4,4
1738506,Yi Zhang,0,0,0,0,0,0,0,0,0,...,0,0,3,1,3,5,1,6,2,4
2258972,Maike Tech,0,0,0,0,0,0,0,0,0,...,0,1,0,1,3,6,7,11,9,0
1700696,Yan Chen,0,0,0,0,0,0,0,0,0,...,2,0,1,1,2,2,2,5,3,5
2650989,Prasad S Thenkabail,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,9,21
6443508,India,0,0,0,0,0,0,0,0,0,...,0,1,2,2,5,4,13,0,5,0

In [254]:
df1.to_csv("author_count.csv");